.articleEditor {
    height: 100%;
    .ivu-card {
        min-height: 100%;
    }
    .ivu-layout{
        background-color: #fff;
    }
    .editor {
        margin-bottom: 24px;
        .v-note-wrapper {
            z-index: 500;
        }
    }
    .create-btn {
        margin-left: 30px;
    }
    .ivu-btn {
        margin-left: 30px;
    }

}