.login {
    width: 500px;
    height: 350px;
    border-radius: 15px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 15px #ddd;

    .login_head {
        height: 80px;
    }
    .ivu-form-item-content {
        width: 350px;
        height: 40px;
        margin: 0 auto;

        .ivu-input-group {
            .ivu-input-group-prepend {
                width: 40px;

                .ivu-icon {
                    font-size: 18px;
                    color: #bbb;
                }
            }
            .ivu-input {
                height: 40px;
            }
        }

        .ivu-btn-primary {
            width: 100px;
            height: 40px;
            font-size: 16px;
        }
        
        
    }
    .ivu-form-item:nth-child(3) {
        margin-top: 50px;
    }
}


